# List of paths and files to exclude from the packaged extension.
.github/**
.nyc_output/**
.vscode/**
coverage/**
typings/**
node_modules/**/build
out/src/test/**
test/**
src/**
**/*.map
.gitignore
.markdownlintignore
.markdownlint.yml
.mocharc.yml
.nycrc.yml
.prettierignore
.prettierrc
.secrets
cspell.json
cspell-dict.txt
HACKING.md
tsconfig.json
vsc-extension-quickstart.md
