name: Release vsix to OpenVSX and VSCode marketplace
on:
  release:
    types: [published]

jobs:
  release:
    name: "Release"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    
    - name: Set Node.js 14.x
      uses: actions/setup-node@master
      with:
        version: 14.x

    - name: npm install
      run: npm install

    - name: typescript
      run: npx tsc

    - name: Publish to Open VSX Registry
      uses: HaaLeo/publish-vscode-extension@v0
      id: publishToOpenVSX
      with:
        pat: ${{ secrets.OPEN_VSX_TOKEN }}
    - name: Publish to Visual Studio Marketplace
      uses: HaaLeo/publish-vscode-extension@v0
      with:
        pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
        registryUrl: https://marketplace.visualstudio.com
        extensionFile: ${{ steps.publishToOpenVSX.outputs.vsixPath }}
        packagePath: ''
    - name: Upload
      uses: djn24/add-asset-to-release@v1
      with:
        token: ${{secrets.GITHUB_TOKEN}}
        path: ${{ steps.publishToOpenVSX.outputs.vsixPath }}
