name: Unit Test Project
on:
  push:
    paths:
      - '**.ts'
  pull_request:
    paths:
      - '**.ts'
jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16.x

    - name: Install Module Dependencies
      run: npm clean-install --no-optional

    - name: Test Project
      run: npm test

    - name: Generate Test Coverage
      run: npm run coverage

    - name: Report Test Coverage
      uses: codecov/codecov-action@v3
      with:
        directory: ./coverage
        verbose: true
